<div class="bigEntrance">
<div class="row">
  <h1>Sign up</h1>
  <%= simple_form_for @user do |form| %>
    <div>
      <%= form.input :name %>
    </div>
    <div>
      <%= form.input :email %>
    </div>
    <div>
      <%= form.input :password %>
    </div>
    <div>
      <%= form.input :password_confirmation %>
    </div>
    <div>
      <%= form.button :submit, class: "radius small" %>
    </div>
  <% end %>
</div>
</div>
